<div class="try-box">
  <p><strong>💡 Challenge:</strong> <br>
    Inside <code>fn main()</code>, declare a variable <code>x</code> with value <code>10</code>.<br>
    Then, use <strong>shadowing</strong> to double its value. <br>
    Finally, print the new value of <code>x</code>.</p>
  
  <p>⏳ Try writing this on your own before you look at the solution!</p>

  <details style="margin-top: 0.8em;">
  <summary 
    style="cursor: pointer; font-weight: 500; color: #222; transition: color 0.3s;"
    onmouseover="this.style.color='#f97316'; this.style.background='#fff3e0';"
    onmouseout="this.style.color='#222'; this.style.background='transparent';">
    ✅ Show Solution
  </summary>
    <pre><code class="language-rust">fn main() {
    let x = 10;
    let x = x * 2;
    println!("x is: {}", x);
    }</code></pre>
  </details>
    
 <p style="margin-top: 1em;">
    👉 <a href="https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=fn%20main()%20%7B%0A%20%20%20%20let%20x%20%3D%2010%3B%0A%20%20%20%20let%20x%20%3D%20x%20*%202%3B%0A%20%20%20%20println!(%22x%20is%3A%20%7B%7D%22%2C%20x)%3B%0A%7D"
    style="color: #dc2626; font-weight: bold;" target="_blank">Try it on Rust Playground</a>
  </p>

  <p style="font-size: 0.85em; opacity: 0.7;">💻 Works best in desktop view</p> 
</div>